name: Build and Test .NET

on:
  pull_request_target:

jobs:
  build-and-test:
    name: Run Shared Build and Test Workflow
    uses: IntelliTect-Samples/EWU-CSCD371-2025-Fall/.github/workflows/build-and-test.yml@main
    with:
      # CRITICAL FIX: Sets the working directory to the inner folder where GenericsHomework.sln is located.
      working-directory: './GenericsHomework/' 
      check-formatting: false
      add-analyzers: false
