name: Build and Test .NET

on:
  pull_request_target:

jobs:
  build-and-test:
    name: Run Shared Build and Test Workflow
    uses: IntelliTect-Samples/EWU-CSCD371-2025-Fall/.github/workflows/build-and-test.yml@main
    with:
      # CHANGE THIS: Use the root directory if the .sln file is there
      working-directory: './' 
      check-formatting: false
      add-analyzers: false