name: Build and Test .NET

on:
  pull_request_target:

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '8.0.x'
    
    - name: Restore dependencies
      run: dotnet restore
      working-directory: ./CanHazFunny
      
    - name: Build
      run: dotnet build --no-restore
      working-directory: ./CanHazFunny
      
    - name: Test
      run: dotnet test --no-build --verbosity normal
      working-directory: ./CanHazFunny